.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.521);
  flex-shrink: 0;
}
.menu-icon {
  width: 50px;
  visibility: collapse;
}
.left-section {
  margin-left: 25px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  font-weight: 900;
  font-size: 23px;
  flex-shrink: 0;
  background: -webkit-linear-gradient(#ce0000,#ffd900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 935px) {
  a {
    visibility: hidden;
  }
  .right-section {
    visibility: collapse;
  }
  .menu-icon {
    visibility: visible;
    position: fixed;
    right: 5px;
  }
}
.right-section {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  flex-shrink: 0;
}
