.upper-header-container {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.left-side-header {
  display: flex;
  background-color: rgb(0, 36, 112);
  width: 500px;
  align-items: center;
  border-left: none;
  border-top: none;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
  border-bottom-right-radius: 20px;
  transition: width 5s;
  cursor: pointer;
}
.left-side-header:hover {
  width: 700px;
}

.my-name {
  margin-left: 100px;
  max-width: 500px;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.right-side-header {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
