.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 100;
  background-color: rgba(82, 82, 82, 0.185);
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 1s;
}
.header:hover{
  background-color: rgba(6, 0, 92, 0.678);;
}
.menu-icon {
  width: 50px;
  visibility: hidden;
}
.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  flex-shrink: 0;
}
.header-profile-picture {
  width: 60px;
  border-radius: 30px;
}
.right-section {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  flex-shrink: 0;
}
.right-side-links {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 150px;
  text-align: center;
  transition: background-color 0.5s;
}
.right-side-links:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-icon {
  align-items: center;
}
.menu-button {
  background-color: transparent;
  border: none;
  visibility: hidden;
}
@media (max-width: 700px) {
  .right-side-links {
    visibility: hidden;
  }
  .right-section {
    visibility: collapse;
  }
  .menu-icon {
    visibility: visible;
    cursor: pointer;
  }
  .menu-button {
    right: 5px;
    position: fixed;
    visibility: visible;
  }
}
