.home-content-container {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
.home-main-section {
  position: absolute;
  left: 50px;
  right: 50px;
  cursor: pointer;
  transition: transform 1s;
}
.home-main-section:hover {
  transform: scale(1.2);
}
.content-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.content-header span {
  position: relative;
  display: inline-block;
  animation: flip 5s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
    color: rgba(0, 217, 255, 0.76);
  }
}
.content-paragraph {
  font-size: 10px;
  text-align: center;
}
@media(max-width:700px){
  .content-header{
    font-size: 17px;
  }
  .content-paragraph{
    font-size: 8px;
  }
}
