.resume-content-container {
  object-fit: cover;
  width: 100vw;
  height: 1000vh;
  position: relative;
  display: grid;
  justify-content: center;
  z-index: 2;
}
.resume-content-section {
  display: grid;
  justify-content: center;
  margin-top: 80px;
  z-index: 5;
  width: 700px;
  height: 2000px;
  background-color: rgba(255, 255, 255, 0.747);
  border-radius: 20px;
  box-shadow: 0px 0px 7px 2px black;
}
.line {
  position: relative;
  margin-top: 160px;
  border-left-style: groove;
  height: 1700px;
  border-bottom-style: groove;
}
.resume-profile {
  width: 130px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: -70px;
  border: solid;
  border-width: 5px;
  border-color: rgb(0, 60, 83);
}

.resume-name-container {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 430px;
  position: absolute;
  top: -50px;
  left: 80px;
  border-bottom-style: groove;
}

.resume-name {
  font-weight: bold;
  color: rgb(255, 102, 0);
  font-size: 27px;
}

.resume-content-block-container {
  width: 510px;
  margin-top: 70px;
}

.left-side-number {
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(0, 60, 83);
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
}

.resume-block-content-header-container {
  display: flex;
  padding-left: 40px;
  margin-bottom: 10px;
}
.resume-block-content-header {
  color: rgb(0, 30, 49);
  font-weight: bold;
  font-size: 20px;
}

.resume-block-content {
  margin-bottom: 10px;
  padding-left: 28px;
  text-align: left;
}
.resume-block-content-semi-header {
  color: rgb(0, 95, 155);
  font-weight: bold;
  font-size: 15px;
  padding-left: 11px;
}

.resume-block-content-style {
  display: flex;
  font-size: 15px;

  color: rgb(34, 34, 34);
}
.resume-block-content-style-2 {
  display: block;
}
.p-style-2 {
  margin-top: 5px;
  margin-left: 35px;
  font-size: 15px;
  color: rgb(34, 34, 34);
  text-align: left;
}
.p-span-style-2 {
  font-weight: bold;
}
@media (max-width: 733px) {
  .resume-content-section {
    height: 1250px;
  }
  .resume-content-section {
    width: 400px;
  }
  .line {
    margin-top: 100px;
    height: 1100px;
  }
  .resume-profile {
    width: 70px;
    height: 70px;
    left: -42px;
    top: -60px;
  }
  .resume-name-container {
    width: 250px;
    top: -33px;
    left: 40px;
  }
  .resume-name {
    font-size: 16px;
  }
  .resume-content-block-container {
    width: 280px;
    margin-top: 25px;
  }
  .left-side-number {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .resume-block-content-header-container {
    padding-left: 20px;
  }
  .resume-block-content-header {
    font-size: 12px;
    padding-left: -10px;
  }
  .resume-block-content {
    margin-bottom: 3px;
    padding-left: 9px;
  }
  .resume-block-content-semi-header {
    font-size: 10px;
    text-align: left;
  }
  .resume-block-content-style {
    font-size: 9px;
    width: 300px;
    margin-left: 10px;
  }
  .p-style-2 {
    font-size: 10px;
    margin-left: 20px;
  }
}