.resume-main {
  position: relative;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  justify-content: center;
}
.resume-container {
  position: absolute;
  top: 100px;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.753);
  z-index: 3;
  padding-bottom: 20px;
  border-radius: 20px;
}
.resume-layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.resume-upper-section {
  display: flex;
  align-items: center;
  padding: 50px;
  width: 100%;
}
.resume-profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px rgb(0, 12, 39);
  border-style: dashed;
}
.header-underline {
  margin-left: 30px;
  border-bottom-style: groove;
}
.resume-header-name {
  font-size: 30px;
  color: rgb(0, 12, 39);
}

.resume-left-right-container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}
.resume-left-section {
  width: 16%;
  border-right-style: groove;
}
.resume-right-section {
  flex: 1;
}
.content-style-1 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.content-style-1-upper {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  
}
.content-number-container{
  position: relative;
  height: 100%;
  width: 5%;
}
.content-number{
  background-color: rgb(0, 14, 204);
  display: inline-block;
  position: absolute;
  top: -14px;
  left: -17px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  border-radius: 50%;

}
.content-header-container{
  width: 100%;
  height: 100%;
  display: flex;
}
.content-style-header{
  font-size: 18px;
  color: rgb(0, 37, 139);
}
.content-style-1-lower{
  height: 100%;
  margin-left: 50px;
}
.semi-header{
  color:rgb(0, 14, 54);
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}
.semi-content{
  margin-left: 10px;
  font-size: 13px;
  color:rgb(0, 0, 0); ;
}

@media (max-width: 700px) {
  .resume-container {
    width: 320px;
    overflow-x: hidden;

  }
  .resume-upper-section {
    padding: 25px;
  }
  .resume-profile-picture {
    width: 60px;
    height: 60px;
  }
  .resume-header-name {
    font-size: 12px;
  }
  .header-underline {
    margin-left: 15px;
  }
  .resume-left-section {
    width: 18%;
  }
  .content-number{
    font-size: 13px;
    padding-left: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 7px;
    left: -11px;
  }
  .content-style-header{
    font-size: 14px;
  }
  .semi-header{
    font-size: 10px;
  }
  .semi-content{
    font-size: 10px;
  }
  .content-style-1-lower{
    margin-left: 25px;
  }
}
