button{
    font-family: sans-serif;
}
.upper_block{
    display: flex;
    height: 70px;
    box-shadow: 0px 0px 2px 2px gray;
}
.upper_buttons{
    display: inline-block;
    margin-top: 13px;
    margin-left: 700px;
}
.home_btn{
    background-color: black;
    color: white;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}
.education_btn{
    background-color: black;
    color: white;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;
}
.experience_btn{
    background-color: black;
    color: white;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;
}
.projects_btn{
    background-color: black;
    color: white;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 20px;
}