main {
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.home-main-section {
  padding: 50px;
}

.content-header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
@media (max-width: 707px) {
  .content-header {
    font-size: 25px;
  }
}
.content-paragraph {
  font-size: 12px;
}
.content-header span {
  position: relative;
  display: inline-block;
  animation: flip 5s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
